<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Now Playing</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1 style="text-align: center;">Películas en Cines</h1>
    <div class="peliculas-container">
        {% if peliculas.results %}
            {% for pelicula in peliculas.results %}
                <div class="pelicula">
                    <img src="https://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}" alt="{{ pelicula.title }}">
                    <h3>{{ pelicula.title }}</h3>
                    <div class="botones-container">
                        <a href="{% url 'detalle' pelicula.id %}" class="boton-detalle">Ver Detalles</a>
                        <form method="GET" action="{% url 'add_to_favorites' pelicula.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="title" value="{{ pelicula.title }}">
                            <input type="hidden" name="poster_path" value="{{ pelicula.poster_path }}">
                            <button type="submit" class="boton-favorito">Añadir a Favoritos</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p style="text-align: center;">No se encontraron películas en cines.</p>
        {% endif %}
    </div>
</body>
</html>