{% extends 'streaming/base.html' %}

{% block title %}
    Series Que Se Emiten Hoy
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Series Que Se Emiten Hoy</h1>
    <div class="peliculas-container">
        {% if series.results %}
            {% for serie in series.results %}
                <div class="pelicula">
                    <img src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}" alt="{{ serie.name }}">
                    <h3>{{ serie.name }}</h3>
                    <div class="botones-container">
                        <a href="{% url 'detalle_serie' serie.id %}" class="boton-detalle">Ver Detalles</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p style="text-align: center;">No se encontraron series que se emiten hoy.</p>
        {% endif %}
    </div>
{% endblock %}