<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Netflix UAX{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'now_playing' %}">Películas en Cines</a></li>
            <li><a href="{% url 'top_rated' %}">Mejor Valoradas</a></li>
            <li><a href="{% url 'popular_series' %}">Series Populares</a></li>
            <li><a href="{% url 'airing_today_series' %}">Series Hoy</a></li>
            <li><a href="{% url 'favoritos' %}">Favoritos</a></li>
            <li><a href="{% url 'buscar' %}">Buscar</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: white; cursor: pointer;">
                            Cerrar Sesión
                        </button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                <li><a href="{% url 'signup' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>


    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p style="text-align: center; margin: 20px 0;">Netflixuax - Martina © 2024</p>
    </footer>
</body>
</html>