<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ detalles.title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="detalle-container">
        <img src="https://image.tmdb.org/t/p/w500{{ detalles.poster_path }}" alt="{{ detalles.title }}" style="display: block; margin: 20px auto; max-width: 300px; border-radius: 10px;">
        <h1 style="text-align: center;">{{ detalles.title }}</h1>
        <div style="text-align: center; padding: 20px;">
            <p><strong>Resumen:</strong> {{ detalles.overview }}</p>
            <p><strong>Fecha de Estreno:</strong> {{ detalles.release_date }}</p>
            <p><strong>Duración:</strong> {{ detalles.runtime }} minutos</p>
            <p><strong>Géneros:</strong> 
                {% for genero in detalles.genres %}
                    {{ genero.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>Idioma Original:</strong> {{ detalles.original_language }}</p>
        </div>
        <a href="{% url 'now_playing' %}" class="boton-volver" style="display: block; width: 200px; margin: 20px auto; text-align: center;">Volver</a>
    </div>
</body>
</html>