<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix UAX - Inicio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
        </ul>
    </nav>

    <!-- Sección de Películas Populares -->
    <h1 style="text-align: center;">Películas Populares</h1>
    <div class="peliculas-container">
        {% for pelicula in peliculas.results %}
            <div class="pelicula">
                <img src="https://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}" alt="{{ pelicula.title }}">
                <h3>{{ pelicula.title }}</h3>
            </div>
        {% endfor %}
    </div>
</body>
</html>